.sorting tr:not(.home-page) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

#imgPreview {
    margin: 20px;
}

#noimgae {
    width: 100px;
    height: 100px;
}

ul.gallery{
    padding: 0;
}

ul.gallery li:first-child{
    margin-left: 0;
}

ul.gallery li{
    margin: 20px;
    display: inline-block;
    list-style: none;
}

table.alignmiddle td{
    vertical-align: middle !important;
}

.cart-link, .cart-link:hover{
    color: rgb(241, 241, 241);
    text-decoration: none;
    margin-right: 10px;
}